body {
    width: 350px;
    margin: 0;
    padding: 20px;
    font-family: 'Segoe UI', sans-serif;
    background-color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}


.input-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 8px;
    color: #555;
}

input {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
    width: 100%;
}

#blockBtn {
    width: 100%;
    padding: 14px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: transform 0.1s, background-color 0.2s;
}

#blockBtn:hover {
    background-color: #c0392b;
}

#blockBtn:active {
    transform: scale(0.98);
}